.main {
	max-width: 1920px;
	width: calc(100vw - 17px);
	margin: 0 auto;
	background-color: $mainBg;
	overflow: hidden;
}

a {
	text-decoration: none;
}

body {
	background-color: $mainBg;
	font-family: 'Gilroy', sans-serif;
}
h2,
h3,
h4,
p,
ul,
li {
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
