$mainBg: #1c242c;
$menuBtnBg: #c1dbff0f;
$menuBtnBgActive: #c1dbffa5;
$menuBtnTextColor: #fff;
$whitColor: #fff;
$colorTwo: #f02;
$colorThree: #c1dbff;
$colorSpan: #5ca3ff;
$speakerBg: #c5c7c9;
$programBg: #c1dbff;